<!--
* Vista create-tbl-perfil-menu-accion.component.html
*
* @author  Carlos Anchundia
* @date    03-12-2024
* @name    create-tbl-perfil-menu-accion.component.html
* @package presentation
* @subpackage tbl-perfil-menu-accion
-->

<div class="pt-3 container-fluid">
  <form autocomplete="off" [formGroup]="formTblPerfilMenuAccion" (ngSubmit)="saveTblPerfilMenuAccion()">
    <div class="card card-custom">
      <div class="card-header card-header-custom">
        <h4>Formulario para asignar acciones al perfíl: {{title}}</h4>
      </div>

      <p-card>
        <p class="m-0 mb-4 text-muted">
          Información general de la acción. Los campos señalados con <strong>(*)</strong> son
          obligatorios.
        </p>

        <p-fieldset legend="Datos Generales">
          <div class="grid">
            <div class="col-12 md:col-6">
              <label for="idMenu"> Menú (*)</label>
              <p-select id="idMenu" [options]="optionsMenu" name="idMenu" formControlName="idMenu" size="small"
                optionValue="idMenu" optionLabel="nombre" class="w-full" (onChange)="onChangeLoadAcciones($event)"
                [ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('idMenu',formTblPerfilMenuAccion)}"
                [pTooltip]="_utilsService.getFieldErrorRequired('idMenu', formTblPerfilMenuAccion)"
                tooltipPosition="top" placeholder="Seleccione..">
              </p-select>
            </div>

            <div class="col-12 md:col-6">
              <label for="idAccion"> Acción (*)</label>
              <p-multiselect id="idAccion" [options]="optionsAccion" name="idAccion" formControlName="idAccion"
                size="small" optionValue="idAccion" optionLabel="nombre" class="w-full"
                [ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('idAccion',formTblPerfilMenuAccion)}"
                [pTooltip]="_utilsService.getFieldErrorRequired('idAccion', formTblPerfilMenuAccion)"
                tooltipPosition="top" placeholder="Seleccione..">
              </p-multiselect>
            </div>

            <div class="col-12 md:col-6" *ngIf="formTblPerfilMenuAccion.get('idPerfilMenuAccion')?.value !== null">
              <label for="estado"> Estado (*)</label>
              <p-select id="estado" name="estado" class="w-full" formControlName="estado" size="small"
                placeholder="Seleccione" [options]="optionsEstado" optionValue="name" optionLabel="value"
                [ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('estado',formTblPerfilMenuAccion)}"
                [pTooltip]="_utilsService.getFieldErrorRequired('estado', formTblPerfilMenuAccion)"
                tooltipPosition="top" />
            </div>

          </div>
        </p-fieldset>
        <div class="p-fluid grid my-2 justify-content-end">
          <p-button label="Cancelar" type="button" icon="pi pi-times" class="mr-2" size="small" severity="danger"
            (click)="cancelTblPerfilMenuAccion()" />
          <p-button label="Guardar" type="submit" icon="pi pi-save" class="mr-2" size="small" severity="primary" />
        </div>
      </p-card>
    </div>
  </form>
</div>
