<!--
* Vista create-tbl-modulo.component.html
*
* @author  Carlos Anchundia
* @date    22-11-2024
* @name    create-tbl-modulo.component.html
* @package presentation
* @subpackage tbl-modulo
-->

<div class="pt-3 container-fluid">
	<form autocomplete="off" [formGroup]="formTblModulo" (ngSubmit)="saveTblModulo()">
		<div class="card card-custom">
			<div class="card-header card-header-custom">
				<h5>Formulario para el registro de módulos</h5>
			</div>

			<p-card>
				<p class="m-0 mb-4 text-muted">
					Información general del módulo. Los campos señalados con <strong>(*)</strong> son obligatorios.
				</p>

				<p-fieldset legend="Datos Generales">
					<div class="p-fluid grid">

						<div class="col-12 md:col-6">
							<label for="nombre"> Nombre (*)</label>
							<textarea pTextarea id="nombre" name="nombre" formControlName="nombre" class="w-full"
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('nombre',formTblModulo)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('nombre', formTblModulo)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)" placeholder="" ></textarea>
						</div>

						<div class="col-12 md:col-6">
							<label for="nemonico"> Nemónico (*)</label>
							<input pInputText id="nemonico" name="nemonico" formControlName="nemonico" class="w-full text-uppercase"
              [showMaskTyped]="true" [dropSpecialCharacters]="false"
              [specialCharacters]="['_']" [shownMaskExpression]="'XXXXXX_XXXXXX_XXXXXX'" mask="SSSSSS_SSSSSS_SSSSSS" [validation]="true"
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('nemonico',formTblModulo)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('nemonico', formTblModulo)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)"  placeholder=""/>
						</div>

						<div class="col-12 md:col-6">
							<label for="numeroVersion"> Nímero de versión (*)</label>
							<input pInputText id="numeroVersion" name="numeroVersion" formControlName="numeroVersion" class="w-full"
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('numeroVersion',formTblModulo)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('numeroVersion', formTblModulo)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)"  placeholder=""/>
						</div>

						<div class="col-12 md:col-6">
							<label for="ruta"> Ruta (*)</label>
							<textarea pTextarea id="ruta" name="ruta" formControlName="ruta" class="w-full"
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('ruta',formTblModulo)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('ruta', formTblModulo)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)" placeholder="" ></textarea>
						</div>

						<div class="col-12 md:col-6">
							<label for="descripcion"> Descripción (*)</label>
							<textarea pTextarea id="descripcion" name="descripcion" formControlName="descripcion" class="w-full"
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('descripcion',formTblModulo)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('descripcion', formTblModulo)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)" placeholder="" ></textarea>
						</div>
						<div class="col-12 md:col-6">
							<label for="descripcionLarga"> Descripción larga(*)</label>
							<textarea pTextarea id="descripcionLarga" name="descripcionLarga" formControlName="descripcionLarga" class="w-full"
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('descripcionLarga',formTblModulo)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('descripcionLarga', formTblModulo)" tooltipPosition="top"
							(keypress)="this._validatorsService.validarAlfanumericos($event)" placeholder="" ></textarea>
						</div>

					</div>
				</p-fieldset>
				<div class="p-fluid grid my-2 justify-content-end">
					<p-button label="Cancelar" type="button" icon="pi pi-times" class="mr-2" size="small" severity="danger" (click)="cancelTblModulo()"/>
					<p-button label="Guardar" type="submit" icon="pi pi-save" class="mr-2" size="small" severity="primary"/>
				</div>
			</p-card>
		</div>
	</form>
</div>
