<form [formGroup]="pazSalvoForm" (ngSubmit)="agregarRegistro()">
  <p-panel header="Nuevo Registro">
    <div class="p-fluid p-grid">
      <div class="field lg:col-5 md:col-4">
        <label for="area">Área</label>
        <p-select [options]="areas" formControlName="area"></p-select>
      </div>

      <div class="field lg:col-5 md:col-4">
        <label for="persona">Persona</label>
        <p-select [options]="personas" formControlName="persona"></p-select>
      </div>
      <div class="field lg:col-2 md:col-4 mt-5">
        <button pButton type="submit" label="Añadir"></button>
      </div>
    </div>


  </p-panel>
</form>
<p-panel header="Detalle">

  <div *ngFor="let group of groupedData2">
    <p-panel header="{{group.area}}" [toggleable]="true">
      <ng-template #header>
      </ng-template>
      <p-table [value]="group.registros">
        <ng-template #header>
          <tr>
            <th>Area</th>
            <th>Persona</th>
          </tr>
        </ng-template>
        <ng-template #body let-rowData>
          <tr>
            <td>{{ rowData.area }}</td>
            <td>{{ rowData.persona }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <button pButton (click)="generarPDF()" label="Generar PDF"></button>
</p-panel>
