  <h5 mat-dialog-title>Visualizar PDF</h5>
  <mat-dialog-content>

  <ngx-extended-pdf-viewer [base64Src]="pdfSrc" (useBrowserLocale)="true" [textLayer]="false" [zoom]="'auto'"
  [showHandToolButton]="false" [showPresentationModeButton]="true" [showDownloadButton]="true"
  [showOpenFileButton]="false" [showRotateButton]="false" [showDrawEditor]="false" [showTextEditor]="false"
  [theme]="theme" [filenameForDownload]="'solicitud'"
  [showUnverifiedSignatures]="true"></ngx-extended-pdf-viewer>


</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end align-items-center">
</mat-dialog-actions>
