<div class="card">
  <div class="card-body">
      <div class="row mt-3">
        @for (sistema of sistemas; track sistema.modulo.idModulo) {
          <!-- [data-rutaAplicacion]="{{sistema.rutaSistema}}" data-nombreAplicacion="{{sistema.nombreSistema}}" -->
        <div class="col-md-3 col-sm-6 aplicacion"  ondragstart="drag(event)"
          draggable="true" id="{{sistema.modulo.idModulo}}" data-color="sistema" (click)="clickSistema(sistema.modulo.idModulo)">
          <div class="widget-head-color-box {{sistema.modulo.color}} text-center">
            <div class="titulo-aplicacion">
              <h6>{{sistema.modulo.nombre}}</h6>
            </div>
            <div class="icon">
              <i class="{{sistema.modulo.imagen}}"></i>
            </div>
            <div class="ttw-notification-menu align-self-center">
              <div id="" class="notification-menu-item first-item aplicacion-{{sistema.modulo.idModulo}}">
                <a>Notificaciones <i class="fa fa-envelope-o"></i></a>
              </div>
            </div>
          </div>
          <div class="widget-text-box {{sistema.modulo.color}}-borde">
            <p>
              <b>{{sistema.modulo.descripcion}}</b> <a href="#" class="{{sistema.modulo.color}}-color"> Más info <i
                  class="fas fa-arrow-circle-right"></i></a>
            </p>
          </div>
        </div>
      } @empty {
        <h1>No tiene Sistemas asignados</h1>
      }

      </div>
    </div>
</div>
