<!--
* Vista index-tbl-usuario-modulo.component.html
*
* @author  Carlos Anchundia
* @date    03-12-2024
* @name    index-tbl-usuario-modulo.component.html
* @package presentation
* @subpackage tbl-usuario-modulo
-->

<div class="container-fluid">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button label="Regresar" type="button" icon="pi pi-chevron-left" class="mr-2" severity="contrast"
        [raised]="true" (click)="cancelTblUsuarioModulo()" />
      <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" severity="primary" [raised]="true"
        [routerLink]="[routeCore.ADMIN.BASE + routeCore.ADMIN.TBLUSUARIOMODULO.CREATE(idUsuario)]" />
    </div>
  </p-toolbar>

  <p-table #dt [value]="tblUsuarioModuloRecords?.content!" dataKey="id" [rowHover]="true" [rows]="size"
    [totalRecords]="tblUsuarioModuloRecords?.totalElements!" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="pageSizeOptions" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
    (onLazyLoad)="lazyLoadData($event)" [filterDelay]="0" [lazy]="true"
    [globalFilterFields]="['id_usuario_modulo','id_usuario','id_modulo','color_modulo','imagen_modulo','numero_visita_modulo','numero_notificaciones','estado',]">

    <ng-template #caption>
      <div class="flex">
        <div class="flex align-items-center justify-content-center" style="flex: 1;">
          <h6 class="m-0">Módulos asignados al usuario: <span class="text-muted">{{title}}</span></h6>
        </div>
        <div class="flex align-items-center justify-content-end" style="gap: 10px;">
          <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="clearSearch()" />
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" (input)="inputSearch($event)" placeholder="Buscar..." />
          </p-iconfield>
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="nombreModulo" style="min-width:7rem">Módulo<p-sortIcon field="idModulo" /></th>
        <th pSortableColumn="imagenModulo" style="min-width:7rem">Imagen <p-sortIcon field="imagenModulo" /></th>
        <th pSortableColumn="colorModulo" style="min-width:7rem">Color<p-sortIcon field="colorModulo" /></th>
        <th pSortableColumn="numeroVisitaModulo" style="min-width:7rem">Número de visita<p-sortIcon
            field="numeroVisitaModulo" /></th>
        <th pSortableColumn="numeroNotificaciones" style="min-width:7rem">Número de notificaciones<p-sortIcon
            field="numeroNotificaciones" /></th>
        <th pSortableColumn="ordenModulo" style="min-width:7rem">Orden<p-sortIcon field="ordenModulo" /></th>
        <th pSortableColumn="estado" style="min-width:7rem">Estado<p-sortIcon field="estado" /></th>
        <th style="min-width:13rem">Acciones</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.modulo.nombre }}</td>
        <td>
          <div *ngIf="getIconDetails(item.imagenModulo) as iconDetails">
            <i class="{{item.imagenModulo}}"></i>
            {{ iconDetails.name }}
          </div>
        </td>
        <td>
          <div class="color-option" *ngIf="getColorDetails(item.colorModulo) as colorDetails">
            <div class="color-box mr-3" [style.background-color]="colorDetails.color"></div>
            <span>{{ colorDetails.name }}</span>
          </div>
        </td>
        <td>{{ item.numeroVisitaModulo }}</td>
        <td>{{ item.numeroNotificaciones }}</td>
        <td>{{ item.ordenModulo }}</td>
        <td>{{ item.estado }}</td>
        <td>
          <!-- <p-button icon="pi pi-plus" class="mr-2" size="small" title="Añadir" severity="primary"
            [routerLink]="[routeCore.ADMIN.BASE + routeCore.ADMIN.TBLUSUARIOMODULO.CREATE(idUsuario)]"/> -->
          <p-button icon="pi pi-pen-to-square" class="mr-2" size="small" title="Editar" severity="success"
            [routerLink]="[routeCore.ADMIN.BASE + routeCore.ADMIN.TBLUSUARIOMODULO.EDIT(idUsuario,item.idUsuarioModulo)]" />
        </td>
      </tr>
    </ng-template>
    <ng-template #summary>
      <div class="flex align-items-center justify-content-between text-muted">
        En total hay {{ tblUsuarioModuloRecords?.content ? tblUsuarioModuloRecords?.content?.length : 0 }}
        módulos
      </div>
    </ng-template>
  </p-table>
</div>
