<!--
* Vista index-tbl-menu.component.html
*
* @author  Carlos Anchundia
* @date    22-11-2024
* @name    index-tbl-menu.component.html
* @package presentation
* @subpackage tbl-menu
-->

<div class="p-3 surface-100">
	<p-toolbar styleClass="mb-4 gap-2">
		<ng-template pTemplate="left">
			<p-button severity="primary" label="Nuevo" icon="pi pi-plus" class="mr-2"
			[routerLink]="[routeCore.ADMIN.BASE + routeCore.ADMIN.TBLMENU.CREATE]" />
		</ng-template>
	</p-toolbar>

	<p-table #dt [value]="tblMenuRecords" dataKey="id" [rowHover]="true" [rows]="size" [totalRecords]="totalElements"
		[showCurrentPageReport]="true" [rowsPerPageOptions]="pageSizeOptions" [loading]="loading" [paginator]="true"
		currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" (onLazyLoad)="lazyLoadData($event)"
		[filterDelay]="0" [lazy]="true" [globalFilterFields]="['id_menu','id_menu_padre','nemonico','nemonico_padre','nombre','imagen','ruta','orden','estado','fecha_registro','id_usuario_registro',]">

		<ng-template pTemplate="caption">
			<div class="flex">
				<div class="flex align-items-center justify-content-center" style="flex: 1;">
					<h2 class="m-0">{{title}}</h2>
				</div>
				<div class="flex align-items-center justify-content-end" style="gap: 10px;">
					<p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="clearSearch()" />
					<span class="p-input-icon-left">
						<i class="pi pi-search"></i>
						<input pInputText type="text" [value]="search" (input)="inputSearch($event)"
							placeholder="Buscar..." />
					</span>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 4rem"><p-tableHeaderCheckbox /></th>
				<th pSortableColumn="idMenu" style="min-width:5rem">IdMenu<p-sortIcon field="idMenu" /></th>
				<th pSortableColumn="idMenuPadre" style="min-width:5rem">IdMenuPadre<p-sortIcon field="idMenuPadre" /></th>
				<th pSortableColumn="nemonico" style="min-width:10rem">Nemonico<p-sortIcon field="nemonico" /></th>
				<th pSortableColumn="nemonicoPadre" style="min-width:10rem">NemonicoPadre<p-sortIcon field="nemonicoPadre" /></th>
				<th pSortableColumn="nombre" style="min-width:10rem">Nombre<p-sortIcon field="nombre" /></th>
				<th pSortableColumn="imagen" style="min-width:10rem">Imagen<p-sortIcon field="imagen" /></th>
				<th pSortableColumn="ruta" style="min-width:10rem">Ruta<p-sortIcon field="ruta" /></th>
				<th pSortableColumn="orden" style="min-width:5rem">Orden<p-sortIcon field="orden" /></th>
				<th pSortableColumn="estado" style="min-width:5rem">Estado<p-sortIcon field="estado" /></th>
				<th pSortableColumn="fechaRegistro" style="min-width:5rem">FechaRegistro<p-sortIcon field="fechaRegistro" /></th>
				<th pSortableColumn="idUsuarioRegistro" style="min-width:5rem">IdUsuarioRegistro<p-sortIcon field="idUsuarioRegistro" /></th>
				<th style="min-width:13rem">Acciones</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-item>
			<tr>
				<td><p-tableCheckbox [value]="item" /></td>
				<td>{{ item.idMenu }}</td>
				<td>{{ item.idMenuPadre }}</td>
				<td>{{ item.nemonico }}</td>
				<td>{{ item.nemonicoPadre }}</td>
				<td>{{ item.nombre }}</td>
				<td>{{ item.imagen }}</td>
				<td>{{ item.ruta }}</td>
				<td>{{ item.orden }}</td>
				<td>{{ item.estado }}</td>
				<td>{{ item.fechaRegistro ?(item.fechaRegistro | date: 'yyyy-MM-dd') : '' }}</td>
				<td>{{ item.idUsuarioRegistro }}</td>
				<td>
					<p-button icon="pi pi-plus" class="mr-2" size="small" title="Añadir" severity="primary" [routerLink]="[this.routeCore.ADMIN.BASE + this.routeCore.ADMIN.TBLMENU.CREATE]"/>
					<p-button icon="pi pi-pen-to-square" class="mr-2" size="small" title="Editar" severity="success" [routerLink]="[this.routeCore.ADMIN.BASE + this.routeCore.ADMIN.TBLMENU.EDIT(item.idMenu)]" />
					<p-button icon="pi pi-trash" class="mr-2" size="small" title="Eliminar" severity="danger" />
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary">
			<div class="flex align-items-center justify-content-between">
				En total hay {{ tblMenuRecords ? tblMenuRecords.length : 0 }} tblMenu
			</div>
		</ng-template>
	</p-table>
</div>
