<!--
* Vista index-tbl-menu.component.html
*
* @author  Carlos Anchundia
* @date    22-11-2024
* @name    index-tbl-menu.component.html
* @package presentation
* @subpackage tbl-menu
-->

<div class="p-3 surface-100">
	<p-toolbar styleClass="mb-4 gap-2">
		<ng-template pTemplate="left">
			<p-button severity="primary" label="Nuevo" icon="pi pi-plus" class="mr-2"
			[routerLink]="[routeCore.ADMIN.BASE + routeCore.ADMIN.TBLMENU.CREATE]" />
		</ng-template>
	</p-toolbar>

	<p-table #dt [value]="tblMenuRecords" dataKey="id" [rowHover]="true" [rows]="size" [totalRecords]="totalElements"
		[showCurrentPageReport]="true" [rowsPerPageOptions]="pageSizeOptions" [loading]="loading" [paginator]="true"
		currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" (onLazyLoad)="lazyLoadData($event)"
		[filterDelay]="0" [lazy]="true" [globalFilterFields]="['id_menu','nombreMenuPadre','nemonico','nemonico_padre','nombre','imagen','ruta','orden','estado','fecha_registro','id_usuario_registro']">

		<ng-template pTemplate="caption">
			<div class="flex">
				<div class="flex align-items-center justify-content-center" style="flex: 1;">
					<h2 class="m-0">{{title}}</h2>
				</div>
				<div class="flex align-items-center justify-content-end" style="gap: 10px;">
					<p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpiar" (click)="clearSearch()" />
					<span class="p-input-icon-left">
						<i class="pi pi-search"></i>
						<input pInputText type="text" [value]="search" (input)="inputSearch($event)"
							placeholder="Buscar..." />
					</span>
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
        <th pSortableColumn="nombre" style="min-width:10rem">Menú<p-sortIcon field="nombre" /></th>
				<th pSortableColumn="nombreMenuPadre" style="min-width:10rem">Menú Padre<p-sortIcon field="nombreMenuPadre" /></th>
				<th pSortableColumn="nemonico" style="min-width:10rem">Nemónico<p-sortIcon field="nemonico" /></th>
				<th pSortableColumn="imagen" style="min-width:10rem">Imagen<p-sortIcon field="imagen" /></th>
				<th pSortableColumn="ruta" style="min-width:10rem">Ruta<p-sortIcon field="ruta" /></th>
				<th pSortableColumn="orden" style="min-width:7rem">Orden<p-sortIcon field="orden" /></th>
				<th pSortableColumn="estado" style="min-width:7rem">Estado<p-sortIcon field="estado" /></th>
				<th style="min-width:13rem">Acciones</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-item>
			<tr>
        <td>{{ item.nombre }}</td>
				<td>{{ item.menuPadre?.nombre }}</td>
				<td>{{ item.nemonico }}</td>
				<td>{{ item.imagen }}</td>
				<td>{{ item.ruta }}</td>
				<td>{{ item.orden }}</td>
				<td>{{ item.estado }}</td>
				<td>
					<p-button icon="pi pi-plus" class="mr-2" size="small" title="Añadir" severity="primary" [routerLink]="[routeCore.ADMIN.BASE + this.routeCore.ADMIN.TBLMENU.CREATE]"/>
					<p-button icon="pi pi-pen-to-square" class="mr-2" size="small" title="Editar" severity="success" [routerLink]="[routeCore.ADMIN.BASE + this.routeCore.ADMIN.TBLMENU.EDIT(item.idMenu)]" />
					<p-button icon="pi pi-trash" class="mr-2" size="small" title="Eliminar" severity="danger" />
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary">
			<div class="flex align-items-center justify-content-between">
				En total hay {{ tblMenuRecords ? tblMenuRecords.length : 0 }} menús
			</div>
		</ng-template>
	</p-table>
</div>
