<!--
* Vista create-tbl-menu-accion.component.html
*
* @author  Carlos Anchundia
* @date    22-11-2024
* @name    create-tbl-menu-accion.component.html
* @package presentation
* @subpackage tbl-menu-accion
-->

<div class="pt-3 container-fluid">
	<form autocomplete="off" [formGroup]="formTblMenuAccion" (ngSubmit)="saveTblMenuAccion()">
		<div class="card card-custom">
			<div class="card-header card-header-custom">
				<h4>Formulario para asignar acciones al menú: {{tblMenuRecords?.nombre}}</h4>
			</div>

			<p-card>
				<p class="m-0 mb-4">
					<small>Información general de la acción. Los campos señalados con <strong>(*)</strong> son obligatorios.</small>
				</p>

				<p-fieldset legend="Datos Generales">
					<div class="p-fluid grid">

            <div class="col-12 md:col-6">
              <label for="idAccion"> Acción (*)</label>
              <p-select id="idAccion" name="idAccion" class="w-full" formControlName="idAccion"
                placeholder="Seleccione..." [options]="optionsAccion" optionValue="idAccion"
                [ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('idAccion',formTblMenuAccion)}"
                [pTooltip]="_utilsService.getFieldErrorRequired('idAccion', formTblMenuAccion)" tooltipPosition="top">
                <ng-template let-item #item>
                  {{ item.nombre | concatTwoFields:item.pagina }}
                </ng-template>
                <ng-template let-item #selectedItem>
                  {{ item.nombre | concatTwoFields:item.pagina }}
                </ng-template>
              </p-select>
            </div>

						<div class="col-12 md:col-6" *ngIf="formTblMenuAccion.get('idMenuAccion')?.value !== null">
							<label for="estado"> Estado (*)</label>
							<p-select id="estado" name="estado" class="w-full"
							formControlName="estado" placeholder="Seleccione" [options]="optionsEstado" optionValue="name" optionLabel="value"
							[ngClass]="{'ng-invalid ng-dirty': _utilsService.isFieldInvalid('estado',formTblMenuAccion)}"
							[pTooltip]="_utilsService.getFieldErrorRequired('estado', formTblMenuAccion)" tooltipPosition="top"/>
						</div>

					</div>
				</p-fieldset>
				<div class="p-fluid grid my-2 justify-content-end">
					<p-button label="Cancelar" type="button" icon="pi pi-times" class="mr-2" size="small" severity="danger" (click)="cancelTblMenuAccion()"/>
					<p-button label="Guardar" type="submit" icon="pi pi-save" class="mr-2" size="small" severity="primary"/>
				</div>
			</p-card>
		</div>
	</form>
</div>
